:root{
    --color-primary: hsl(25, 97%, 53%);

    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-medium-grey: hsl(216, 12%, 54%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);

}
p{
    margin: 0;
}

body{
    background-color: var(--color-very-dark-blue);
    width: 100%;
    height: 100%;
    padding-top: 10em;
    font-family: 'Overpass', sans-serif;
}
section{
    width: 80%;
    max-width: 380px;
    background-color: hsl(215, 20%, 16%);
    display: flex;
    align-items: center;
    text-align: left;
    
    margin: auto;
    color: white;
    padding-top: 1rem;

    border-radius: 16px;
}
.c-img{
    background-color:#262f38;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding-top: 0.3rem;
    color: #7d8695;
    cursor: pointer;
    text-align: center;
    align-items: center;
}
.c-title{
    margin-top: 2rem;
}
.c-text{
    color: var(--color-light-grey);
    margin-top: 1.5rem;
}
.rating-options{
    background-color:#262f38;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #7d8695;
    cursor: pointer;
    text-align: center;
    align-items: center;
    padding-top: 0.44rem;
    margin-top: 16px;
    cursor: pointer;
}
.rating-options:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}
.buttonClicked {
    background-color: var(--color-light-grey) !important;
    color: var(--color-white);
}   
.c-submit{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 14px;

}
.c-submit .btn{
    width: 100%;
    border-radius: 16px;
    background-color: var(--color-primary);
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 0.75rem;
    letter-spacing: 0.5em;
}
.c-submit .btn:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
}

footer{
    bottom: 0;
    position: fixed;
    margin: auto;
    display: flex;
    color: white;
    font-size: 12px;
}

.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden{
    display: none;
}
.thx-img img{
    width: 140px;
}
.thx-selected{
    background-color: var(--color-dark-blue);
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem; 
    color: var(--color-primary);
    border-radius: 16px;
}
.thx-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.thx-text{
    text-align: center;
    color: var(--color-light-grey);
    margin-bottom: 2rem;
}

@media (min-width: 1200px) {
    body{
        padding-top: 11em;
    }
    section{
        padding: 1em;
        width: 50%;
    }
}